$pt-BR: (
  first_name: "Primeiro nome",
  last_name: "Último nome",
  phone: "Telefone",
  birthday: "Data de nascimento",
  company: "Empresa",
  address: "Endereço",
  city: "Cidade",
  state: "Estado",
  zip_code: "Cep",
  country: "País",
  website: "Website",
  no_content_width_limit: "Sem limite de largura",
  "400px": "400px",
  "500px": "500px",
  "600px": "600px",
  "700px": "700px",
  "800px": "800px",
  email_on_center: "E-mail centralizado",
  email_on_left: "E-mail a esquerda",
);

$en: (
  first_name: "First name",
  last_name: "Last name",
  phone: "Phone",
  birthday: "Birthday",
  company: "Company",
  address: "Address",
  city: "City",
  state: "State",
  zip_code: "Zip code",
  country: "County",
  website: "Website",
  no_content_width_limit: "No width limit",
  "400px": "400px",
  "500px": "500px",
  "600px": "600px",
  "700px": "700px",
  "800px": "800px",
  email_on_center: "Centralized email",
  email_on_left: "Email on left",
);

$es: (
  first_name: 'Primer Nombre',
  last_name: 'Último Nombre',
  phone: 'Teléfono',
  birthday: 'Fecha de Nacimiento',
  company: 'Empresa',
  address: 'Dirección',
  city: 'Ciudad',
  state: 'Estado',
  zip_code: 'Código Postal',
  country: 'País',
  website: 'Website',
  no_content_width_limit: "Sin límite de ancho",
  "400px": "400px",
  "500px": "500px",
  "600px": "600px",
  "700px": "700px",
  "800px": "800px",
  email_on_center: "Email centralizado",
  email_on_left: "Email a la izquierda",
);
