/* Layout Base */
body {
    background-color: #f4f4f4;
}

/*.navbar-floating .vx-navbar-wrapper {
    padding: 0;
}
.main-vertical .vx-navbar-wrapper {
    width: 85%;
}
.navbar-floating .vx-navbar {
    border-radius: 0;
    padding: .8rem 10% .8rem 1rem;
}
.navbar-floating .router-content {
    margin-top: 7.5rem;
    margin-left: 7rem;
}*/
.title {
    font-family: 'Poppinso', sans-serif;
    font-size: 28px;
    font-weight: 600;
}

h4 {
    font-family: 'Lato', sans-serif !important;
    color: #888888 !important
}

.icon-grande {
    font-size: 20px;
    margin-right: 10px;
}

.botao-incluir .vs-button--text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-statico-2 {
    position: relative;
    top: 60px;
    z-index: 10000;
}

.menu-statico-2 a {
    color: #000;
}

.menu-statico-2 .vx-card__body {
    padding: 0.6rem !important;
}

.menu-statico-2 .vs-collapse-item--icon-header .vs-icon {
    font-size: 30px;
}

.menu-statico-2-link .vs-list--item {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: .3;
    color: #000;
}

.menu-statico-2-link .vs-list--item:hover {
    color: #000;
    opacity: 1;
}

.menu-ativo .vs-list--item {
    opacity: 1 !important;
}


.router-view .content-area__heading h2 {
    color: #4A4A4A;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.router-header {
    margin-bottom: 6rem !important;
}

.router-content {
    padding-right: 3rem;
    padding-left: 3rem;
}

@media (max-width: 1200px) {
    .router-content {
        padding-right: 0;
        padding-left: 0;
    }

    .menu-statico {
        display: none;
    }

    .menu-statico-2 {
        display: block;
    }
}

@media (min-width: 1200px) {
    .menu-statico-2 {
        display: none;
    }
}

/* ------------------------ */
/* Inputs */
.input-span-placeholder {
    font-weight: 700;
    font-size: 1.3rem;
    color: #CECECE;
    margin-left: 1rem;
}

#search_input_trans + .input-span-placeholder {
    font-size: 1rem;
}

.btn-search {
    border: none;
    color: #919191;
    right: 7%;
}

.botao-incluir {
    padding: 1.2rem 2rem !important;
    font-weight: 800 !important;
    float: right;
}

.btn-selecionado {
    background-color: #9344C4 !important;
    color: white !important;
}

.check-incluir {
    position: absolute;
    top: 0;
    left: 10px;
    width: 2.7rem;
}

[dir] .con-select .vs-select--input {
    padding: 1.4rem 2rem !important;
}

.sem-item {
    display: flex;
    justify-content: center;
    padding: 2rem;
    position: relative;
    background-image: url("https://api.saveleads.com.br/images/sem-item.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    /*margin-left: 20vw;*/
    height: 330px;
    align-items: center;
}

.span-sem-item {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    line-height: 1.1;
}

.text-sem-item {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: white;
}

.com-item .table-items {
    margin-top: 5rem;
    width: 100%;
}

.com-item .table-items th {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

.com-item .tr-values {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

[dir] .com-item .vs-con-table .vs-con-tbody .vs-table--tbody-table .tr-values .vs-table--td {
    padding: 1rem;
    background-color: white;
    border: none;
}

[dir] .vs-con-table .vs-con-tbody {
    background-color: #f4f4f4 !important;
    border: none !important;
}

.table-items .vs-table--thead tr {
    background-color: transparent !important;
}

.vs-table {
    border-spacing: 0 8px;
    border-collapse: separate !important;
}

.btn-more-icon {
    color: black;
    border: 1px solid #00000038 !important
}

.dropdown-menu-list {
    z-index: 218;
    top: 2%;
    left: 28%;
}

.vs-con-dropdown:hover {
    cursor: pointer;
}

.btn-search-bar {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 3px;
}

.con-vs-chip {
    border-radius: 5px !important;
}

/*.vs-con-dropdown:hover .btn-more-icon {
    transition-duration: .3s;
    box-shadow: 1px 3px 5px .5px #00000026
}*/

.btn-more-icon i {
    font-size: 1.5rem;
    margin-top: -1px;
}

.span-identifica-item-dropdown {
    margin-left: 5%;
    font-size: 1.3rem;
    font-weight: 800;
    display: block;
    margin-bottom: 1.5rem;
}

.add-new-data-sidebar[data-v-19dba1ea] .vs-sidebar {
    width: 40%;
}

.icon-check-btn-incluir {
    font-size: 2rem;
    position: absolute;
    left: -45%;
    top: -5px;
}

.subtitulo {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

.unidade {
    background-color: #F4f4f4;
    border-radius: 20px;
    color: #4A4A4A;
    font-weight: 600;
    top: 52% !important;
    right: 25px !important;
}

.switch {
    border: 1px solid rgb(154, 170, 190);
    zoom: 1.5;
}

.switch .vs-switch--circle {
    top: 1px !important;
}

.dropdown-menu-list {
    /*padding-top: 15px;*/
    /*margin-left: -44px;*/
    /*margin-top: -33px;*/
    position: absolute;
    height: auto;
    width: auto;
    z-index: 40000;
    -webkit-transform: translate(-20%);
    transform: translate(-20%);
    /*-webkit-transition: opacity .25s, width .3s ease, -webkit-transform .25s;
    transition: opacity .25s, width .3s ease, -webkit-transform .25s;
    transition: opacity .25s, transform .25s, width .3s ease;
    transition: opacity .25s, transform .25s, width .3s ease, -webkit-transform .25s;*/
    transition: unset !important;
}

.dropdown-usuario {
    transform: translate(-100%);
}

.dropdown-menu-list .vs-dropdown--menu--after {
    right: unset;
    left: 33px;
}

.dropdown-usuario .vs-dropdown--menu--after {
    left: unset;
    right: 10px;
}

.dropdown-menu-list .vs-dropdown--menu {
    padding: 1rem !important;
    border-radius: 7px;
    min-width: 250px;
    max-width: 370px;
    text-align: left;
}

.dropdown-menu-list .vs-dropdown--item {
    margin: .5rem 0 !important;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 500 !important;
    border-bottom: 1px solid #d0d0d059;
}

.dropdown-menu-list .btn-more-icon-open {
    background-color: #9344C4 !important;
    color: white;
}

.dropdown-menu-list .vs-dropdown--item-link {
    display: flex;
    align-items: center;
}

.dropdown-menu-list .vs-icon {
    font-size: 1.5rem;
    margin-right: .5rem;
}

.span-destaque {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.select-large-base .vs__selected-options {
    padding: 0.3rem 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.select-large-base ul li {
    padding: 0.3rem 2rem;
}

.label-bold-underline {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #4A4A4A;
    text-decoration: underline;
}

.col-btn-incluir-mobile {
    display: none;
}

.col-btn-incluir-desktop {
    display: block;
}

.vs-input--input:focus {
    box-shadow: none !important;
}

.vs-input-primary .vs-input--input:focus {
    border-color: black !important;
}

.vs-input-primary.isFocus .vs-input--label {
    color: black !important;
}

.destaque {
    font-weight: 600 !important;
}

[dir] .vs-input--input.large {
    padding: 0.8rem 2rem !important;
    font-size: 14px !important;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: black !important;
}

.icon-cancelar {
    background: #B1B1B1;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
}

#search_input, #search_input_trans {
    padding: 1.2rem 2rem !important;
    box-shadow: unset;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

#search_input_trans {
    padding: .8rem 2rem !important;
}

#search_input:focus, #search_input_trans:focus {
    border-color: black !important;
}

.preco {
    font-size: 1.5rem;
    font-weight: 700;
    color: #434343;
}

.variaveis-msg {
    max-width: 400px;
    text-align: left;
    margin: 1rem auto;
}

.variavel {
    padding: 1rem;
    background: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1rem 0 !important;
    cursor: pointer;
    transition-duration: .2s;
}

.hover-opacidade:hover, .variavel:hover, .uploader:hover {
    opacity: .5;
    transition-duration: .2s;
}

.uploader:hover, .uploader * :hover, .uploader .fa-cloud-upload:hover {
    cursor: pointer;
}

.unsetshadow-setborder{
  box-shadow: unset;
  border: #CBCBCB 1px solid;
}
.bg-card-gray{
  background: #EDEDED;
  color: black;
}

th > .vs-table-text {
    font-weight: 400;
}

.con-vs-loading {
    background-color: white !important;
}

.datepicker-input input {
    padding: 1rem !important;
}

[dir] .daterangepicker td.active, [dir] .daterangepicker td.active:hover {
    background-color: #767676 !important;
}

.text-enum{
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    margin-right: 6px;
}

.calendar-icon-input {
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 10%;
}

.ql-editor {
    min-height: 20vh;
}

.ql-snow .ql-tooltip {
    z-index: 99999;
}

.col-conquista {
    width: 25%;
}

.conquista {
    background-color: white;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    padding: 2rem;
}

.conquista.nova {
    background-color: transparent;
    border: 2px dashed #9AAABE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.5rem 5rem;
    transition-duration: .3s;
}

.conquista-clicavel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conquista-clicavel:hover {
    opacity: .6;
    transition-duration: .3s;
}

.conquista.nova:hover {
    border: 2px solid #9AAABE;
    background-color: white;
    transition-duration: .3s;
}

.conquista.nova.estatica:hover {
    border: 2px dashed #9AAABE;
    background-color: transparent;
    transition-duration: .3s;
}

.nome-conq {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
}

.vs-table--tbody-table .tr-values:not(.activeEdit):not(.tr-expandedx):not(.hoverFlat):hover {
    transform: unset !important;
    /*opacity: 0.4;*/
    filter: brightness(0.95);
}

.img-plus {
    background-color: white;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0.4rem 3rem;
    margin: 2rem 0;
    color: #10CFAE;
    font-size: 3rem;
}

.img-conquista {
    border-radius: 50%;
}

.img-plus i {
    font-size: 5rem;
}

.tipo-conquista {
    border: 1px solid #9344C4;
    border-radius: 8px;
    background-color: white;
}

.conquista-ativa {
    background-color: #9344C4;
    color: white !important;
}

.conquista-ativa p {
    color: white !important;
}

.calendars ul {
    float: left !important;
}

.vue-daterange-picker[data-v-267f4ee2] {
    min-width: 30px !important;
    margin-left: 1rem;
}

[dir] .reportrange-text[data-v-267f4ee2] {
    border: 2px solid #ababab5c !important;
    background-color: #ffffff7a !important;
    color: rgba(108, 108, 108, 0.93);
    padding: .5rem 1rem !important;
    font-size: 1.2rem;
    border-radius: 5px;
}

.btn-periodo {
    margin: 0 1rem;
}

.btn-periodo:hover * {
    color: white !important;
}

.vue-daterange-picker span {
    display: none !important;
}

.yearselect {
    max-width: 60px;
}

.avatar-list {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50px;
}

.vs-tabs-position-left .con-ul-tabs {
    min-width: 12vw;
    margin-right: 3rem;
}

.vs-tabs--btn {
    text-align: left;
}

.tabs-detalhe .con-ul-tabs .line-vs-tabs {
    width: 5px !important;

}

.vs-tabs-primary .con-ul-tabs .line-vs-tabs {
    background: #9344C4 !important;
}

.wizard-ticket {
    background-color: #f4f4f4;
    border-radius: 15px;
    height: 50px;
    position: absolute;
    width: 95%;
    top: 5%;
}

.wizard-ticket-span {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    z-index: 2;
}

.wizard-ticket-icon {
    width: 30px;
    background-color: white;
    padding: 0.2rem;
    border-radius: 9px;
    color: #9AAABE !important;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
    z-index: 2;
}

.wizard-atual {
    background-color: #9344C4;
    z-index: 1;
    width: 100%;
    height: 120%;
    position: absolute;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    top: 15%;
    border-radius: 15px;
}

@media (max-width: 450px) {
    .dropdown-menu-list {
        transform: translate(-100%);
    }
    
    .col-conquista {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .row-reverse-mobile {
        flex-direction: column-reverse;
    }
    
    .col-conquista {
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .navbar-floating .router-content {
        margin: 5rem 0;
    }

    .main-vertical .vx-navbar-wrapper {
        width: 100%;
    }

    [dir=ltr] .router-content {
        padding-right: 0;
    }

    .com-item .table-items {
        margin-top: 1rem;
    }

    .sem-item {
        padding: 0;
        margin-left: 0;
        height: 23vh;
    }

    .text-sem-item {
        font-size: 1rem;
    }

    .span-sem-item {
        font-size: 1.2rem;
    }

    .row-botao-incluir-lg {
        display: flex;
    }

    .col-btn-incluir-mobile {
        display: block;
    }

    .col-btn-incluir-desktop {
        display: none;
    }

    [dir] .vs__search {
        padding: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .col-conquista {
        width: 33.33333%;
    }
}

@media (max-width: 1440px) {
    .vs__selected {
        font-size: .8rem;
    }
}