/* Layout Base */
body {
    background-color: #f4f4f4;
}
/*.navbar-floating .vx-navbar-wrapper {
    padding: 0;
}
.main-vertical .vx-navbar-wrapper {
    width: 85%;
}
.navbar-floating .vx-navbar {
    border-radius: 0;
    padding: .8rem 10% .8rem 1rem;
}
.navbar-floating .router-content {
    margin-top: 7.5rem;
    margin-left: 7rem;
}*/
.router-view .content-area__heading h2 {
    color: #4A4A4A;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.router-header {
    margin-bottom: 6rem !important;
}

.router-content {
    padding-right: 5rem;
}
/* ------------------------ */
/* Inputs */
.input-span-placeholder {
    font-weight: 700;
    color: #CECECE;
}

.btn-search {
    border: none;
    color: #919191;
    right: 7%;
}

.btn-incluir {
    padding-left: 25% !important;
    font-weight: 700;
}

.check-incluir {
    position: absolute;
    top: 0;
    left: 10px;
    width: 2.7rem;
}

.sem-item {
    display: flex;
    justify-content: center;
    padding: 10rem;
    position: relative;
}

.text-sem-item {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 47%;
    left: 30%;
}

.com-item .table-items {
    margin-top: 5rem;
    width: 100%;
}

.com-item .table-items th {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

.com-item .tr-values {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

[dir] .com-item .vs-con-table .vs-con-tbody .vs-table--tbody-table .tr-values .vs-table--td {
    padding: 1rem;
    background-color: white;
    border: none;
}

[dir] .vs-con-table .vs-con-tbody {
    background-color: #f4f4f4 !important;
    border: none !important;
}

.table-items .vs-table--thead tr {
    background-color: transparent !important;
}

.btn-more-icon {
    color: black;
}

.add-new-data-sidebar[data-v-19dba1ea] .vs-sidebar {
    width: 40%;
}

@media (max-width: 1100px) {
    .navbar-floating .router-content {
        margin: 5rem 0;
    }

    .main-vertical .vx-navbar-wrapper {
        width: 100%;
    }
    [dir=ltr] .router-content {
        padding-right: 0;
    }
}
