/* Layout Base */
body {
    background-color: #f4f4f4;
}

/*.navbar-floating .vx-navbar-wrapper {
    padding: 0;
}
.main-vertical .vx-navbar-wrapper {
    width: 85%;
}
.navbar-floating .vx-navbar {
    border-radius: 0;
    padding: .8rem 10% .8rem 1rem;
}
.navbar-floating .router-content {
    margin-top: 7.5rem;
    margin-left: 7rem;
}*/
.title {
    font-family: 'Poppinso', sans-serif;
    font-size: 28px;
    font-weight: 600;
}

h4 {
    font-family: 'Lato', sans-serif !important;
    color: #888888 !important
}

.icon-grande {
    font-size: 20px;
    margin-right: 10px;
}

.botao-incluir .vs-button--text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-statico-2 {
    position: relative;
    top: 60px;
    z-index: 10000;
}

.menu-statico-2 a {
    color: #000;
}

.menu-statico-2 .vx-card__body {
    padding: 0.6rem !important;
}

.menu-statico-2 .vs-collapse-item--icon-header .vs-icon {
    font-size: 30px;
}

.menu-statico-2-link .vs-list--item {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: .3;
    color: #000;
}

.menu-statico-2-link .vs-list--item:hover {
    color: #000;
    opacity: 1;
}

.menu-ativo .vs-list--item {
    opacity: 1 !important;
}


.router-view .content-area__heading h2 {
    color: #4A4A4A;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.router-header {
    margin-bottom: 6rem !important;
}

.router-content {
    padding-right: 3rem;
    padding-left: 3rem;
}

@media (max-width: 1200px) {
    .router-content {
        padding-right: 0;
        padding-left: 0;
    }

    .menu-statico {
        display: none;
    }

    .menu-statico-2 {
        display: block;
    }
}

@media (min-width: 1200px) {
    .menu-statico-2 {
        display: none;
    }
}

/* ------------------------ */
/* Inputs */
.input-span-placeholder {
    font-weight: 700;
    color: #CECECE;
}

.btn-search {
    border: none;
    color: #919191;
    right: 7%;
}

.btn-incluir {
    padding-left: 10% !important;
    font-weight: 800 !important;
    float: right;
}

.btn-selecionado {
    background-color: #9344C4 !important;
    color: white !important;
}

.check-incluir {
    position: absolute;
    top: 0;
    left: 10px;
    width: 2.7rem;
}

[dir] .con-select .vs-select--input {
    padding: 1.4rem 2rem !important;
}

.sem-item {
    display: flex;
    justify-content: center;
    padding: 2rem;
    position: relative;
    background-image: url("https://api.saveleads.com.br/images/sem-item.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    margin-left: 20vw;
    height: 330px;
    align-items: center;
}

.span-sem-item {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    line-height: 1.1;
}

.text-sem-item {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: white;
}

.com-item .table-items {
    margin-top: 5rem;
    width: 100%;
}

.com-item .table-items th {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

.com-item .tr-values {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

[dir] .com-item .vs-con-table .vs-con-tbody .vs-table--tbody-table .tr-values .vs-table--td {
    padding: 1rem;
    background-color: white;
    border: none;
}

[dir] .vs-con-table .vs-con-tbody {
    background-color: #f4f4f4 !important;
    border: none !important;
}

.table-items .vs-table--thead tr {
    background-color: transparent !important;
}

.btn-more-icon {
    color: black;
}

.add-new-data-sidebar[data-v-19dba1ea] .vs-sidebar {
    width: 40%;
}

.icon-check-btn-incluir {
    font-size: 2rem;
    position: absolute;
    left: -45%;
    top: -5px;
}

.subtitulo {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

.switch {
    border: 1px solid rgb(154, 170, 190);
    zoom: 1.5;
}

.switch .vs-switch--circle {
    top: 1px !important;
}

.span-destaque {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.select-large-base  .vs__selected-options {
  padding: 0.6rem 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.select-large-base  ul li{
  padding: 0.6rem 2rem;
}
.label-bold-underline {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4A4A4A;
  text-decoration: underline;
}

@media (max-width: 768px) {
    .row-reverse-mobile {
        flex-direction: column-reverse;
    }
}

@media (max-width: 1100px) {
    .navbar-floating .router-content {
        margin: 5rem 0;
    }

    .main-vertical .vx-navbar-wrapper {
        width: 100%;
    }

    [dir=ltr] .router-content {
        paddaing-right: 0;
    }

    .com-item .table-items {
        margin-top: 1rem;
    }

    .sem-item {
        padding: 0;
        margin-left: 0;
        height: 23vh;
    }

    .text-sem-item {
        font-size: 1rem;
    }

    .span-sem-item {
        font-size: 1.2rem;
    }
}
